/*CSS file for about_me.html*/

.background {
  background: url(../images/path.jpg) no-repeat center center fixed;
  max-width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nokiaPic, .invadersPic, .soundCloudPic{
  height: 7vh;
  width: 7vw;
  filter: brightness(115%);
}


.introduction {
  color: hotpink;
  font-size: 5vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px gray;
  padding: 0;
  text-decoration: underline;
}

.introducing {

  top:100%;
  left: 2%;
  margin: 0;
}

.font2 {
  margin: 0%;
  font-size: 1vw;
}

.font1 {
  font-size: 2vw;
  margin: 0%;
}

.profilePic {

  top: 100%;
  border-radius: 100%;
  max-width: 10%;
  height: auto;
}

.words, a , .font2, .font1{
  color: yellow;
  font-size: 2.5vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px gray;
}

.words{
  text-decoration: underline;
}

p{
  margin:0;
}

button{
  background-color: gray;
  border-radius: 15px 50px 30px;
  color: pink;
}

button:hover {
  background-color: pink;
  color: black;
}
