<!DOCTYPE HTML>
<html >
  <head>
    <link rel="stylesheet" type="text/css" href="../css/about_me.css"></link>

    <title >About Me</title>


    <div class="head1">
        <div><h1>
            <span class='words'><img class="test" src="../images/nokia.png" alt="Snake"><a href="/mysnake">Nokia Snake</a></span>
        </h1></div>

        <div ><h1>
            <span class='words'><img class="test" src="../images/invaders.png" alt="Space Invaders">Space Invaders</span>
        </h1></div>

        <div><h1>
            <span class='words'><img class="test" src="../images/soundcloud.png" alt="SoundCloud Player"><a href="/soundcloud">SoundCloud Player</a></span>
        </h1></div>
    </div>
  </head>


    <body class = "background">
      <div class="introducing">

          <p class="font2">introducing</p>
          <p class="font1">DAVID YIM</p>
          <img class="foot" src="../images/jungle.JPG" alt="David Yim's Professional Pic">
          <p><a href='/gotoblog'>
                <button type='ADD' name ='button'>my blog <3</button>
          </a></p>

      </div>
    </body>


</html>
